* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: beige;
    color: #333;
    line-height: 1.5;
    padding: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
